* {
    box-sizing: content-box;
    margin: 0px;
    padding: 0px;
}

.navbar {
    width: 100vw;
    height: 80px;
    background-color: #1f2326;
    z-index: 10;
}

.nav-buttons {
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
    padding: 0 0 0 40px;
}

.nav-logo {
    padding-right: 3rem;
    position: relative;
    margin-left: 3rem;
}

.nav-logo:after {
    content: "";
    height: 2rem;
    width: .05rem;
    position: absolute;
    right: 0;
    top: .7rem;
    background: #575757;
    margin-right: 10px;
}


li, ul {
    list-style-type: none;
    text-decoration: none;
}

.nav-dropdown {
    position: relative;
    display: inline-block;
}

.nav-dropdown-button {
    background-color: transparent;
    color: #fff;
    padding: 16px;
    border: none;
    cursor: pointer;
    font-size: .8rem;
    font-family: GoodTimes;

}

.nav-about {
    text-decoration: none;
    margin: 2rem;
    color: #ececec;
    height: 100%;
    position: relative;
    line-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-size: .8rem;
    font-family: GoodTimes;
}

.nav-about:hover {
    color: tomato;
    transition: all 1s ease;
    cursor: pointer;
}

.nav-about:hover:after {
    transform: translateX(-50%) scaleX(1);
}

.nav-about:after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%) scaleX(0);
    -webkit-transform: translateX(-50%) scaleX(0);
    transform-origin: 50% 50%;
    -webkit-transform-origin: 50% 50%;
    width: 100%;
    height: 2px;
    background-color: #e4e4e4;
    transition: transform .25s;
    -webkit-transition: transform .25s;
}

.home-background {
    box-sizing: border-box;
    overflow: visible;
    flex-grow: 1;
    height: calc(100vh - 80px);
    background-image: url('../images/main\ page.png');
    background-size: cover;
    background-position: 50%;
    background-repeat: no-repeat;
}

.home-container {
    display: flex;
    width: 100%;
    height: 100%;
}

.left-home-box {
    background-color: gray;
    height: 100%;
    width: 100px;
    position: relative;
}




