* {
    box-sizing: content-box;
    margin: 0px;
    padding: 0px;
}

.navbar {
    width: 100vw;
    height: 80px;
    background-color: #1f2326;
    z-index: 10;
}

.nav-buttons {
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
    padding: 0 0 0 40px;
}

.nav-logo {
    padding-right: 3rem;
    position: relative;
    margin-left: 3rem;
}

.nav-logo:after {
    content: "";
    height: 2rem;
    width: .05rem;
    position: absolute;
    right: 0;
    top: .7rem;
    background: #575757;
    margin-right: 10px;
}


li, ul {
    list-style-type: none;
    text-decoration: none;
}

.nav-dropdown {
    position: relative;
    display: inline-block;
}

.nav-dropdown-button {
    background-color: transparent;
    color: #fff;
    padding: 16px;
    border: none;
    cursor: pointer;
    font-size: .8rem;
    font-family: GoodTimes;

}

.nav-about {
    text-decoration: none;
    margin: 2rem;
    color: #ececec;
    height: 100%;
    position: relative;
    line-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-size: .8rem;
    font-family: GoodTimes;
}

.nav-about:hover {
    color: tomato;
    transition: all 1s ease;
    cursor: pointer;
}

.nav-about:hover:after {
    transform: translateX(-50%) scaleX(1);
}

.nav-about:after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%) scaleX(0);
    -webkit-transform: translateX(-50%) scaleX(0);
    transform-origin: 50% 50%;
    -webkit-transform-origin: 50% 50%;
    width: 100%;
    height: 2px;
    background-color: #e4e4e4;
    transition: transform .25s;
    -webkit-transition: transform .25s;
}

.home-background {
    box-sizing: border-box;
    overflow: visible;
    flex-grow: 1;
    height: calc(100vh - 80px);
    background-image: url('../images/main\ page.png');
    background-size: cover;
    background-position: 50%;
    background-repeat: no-repeat;
}

.home-container {
    display: flex;
    width: 100%;
    height: 100%;
}

.home-background-text {
    color: transparent;
    position: absolute;
    top: 20px;
    font-size: 18rem;
    font-family: "ValorantFont",sans-serif;
    -webkit-text-stroke: 1px rgba(71,71,71,.589);
    line-height: 25rem;
    margin-left: 15%;
}

.left-home-box {
    height: 100%;
    width: 20%;
    position: relative;
    border-right: 1px solid #eee;
}

@media only screen and (max-width: 1650px) {
    .left-home-box {
        position: relative;
        height: 100%;
        max-width: 5%;
       }
}

.left-home-box-title {
    margin: 0;
    position: absolute;
    top: -4rem;
    right: 0;
    letter-spacing: 3px;
    font-size:2rem;
    display: flex;
    justify-content: space-around;
    width: calc(100vh - 100px);
    transform-origin: bottom right;
    transform: rotate(
-90deg);
    text-align: center;
    font-family: "Tungsten-Bold",sans-serif;
    color: #eee4e4;
}

.middle-home-box {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 30%;
    height: 100%;
    border-right: 1px solid #eee;
    overflow: hidden;
}

@media only screen and (max-width: 1300px) {
    .middle-home-box {
        width: 55%;
    }
}


.viper-title-home {
    transform: translate(0px, 0px);
    position: relative;
    margin-top: 20%;
    color: #ebebeb;
    font-size: 5rem;
    font-family: "DrukWide";
    border-bottom: 1px solid #eee;
    padding-left: 1rem;
    padding-right: 4rem;
    letter-spacing: .5rem;
    margin-bottom: 0;

    left: -450px;
    -webkit-animation: slide 0.5s forwards;
    -webkit-animation-delay: 1s;
    animation: slide 1.5s forwards;
    animation-delay: 1s;
}


@-webkit-keyframes slide {
    100% { left: 0; }
}

@keyframes slide {
    100% { left: 0; }
}

@media only screen and (max-width: 950px) {
    .viper-title-home {
        font-size: 3rem;
    }
}

h1:before {
    position: absolute;
    content: attr(data-content);
    text-decoration: underline;
    -webkit-clip-path: polygon(0 0,0 0,0 100%,0 100%);
    clip-path: polygon(0 0,0 0,0 100%,0 100%);
    transition: -webkit-clip-path 275ms ease;
    transition: clip-path 275ms ease;
    transition: clip-path 275ms ease,-webkit-clip-path 275ms ease;
    -webkit-text-decoration-color: #ff4655;
    text-decoration-color: #ff4655;
}







